
body {
    padding: 20px 50px 30px;
    font-family: Calibri;
    background-color:rgba(223, 228, 255, 0.15);
}


.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-outside: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width:70px;

}
h2 {
    text-align: center;
    padding: 15px;
    text-decoration:blink;
    border: dotted;
    background: linear-gradient(to left,rgba(214, 12, 210, 0.33),rgba(33, 121, 214, 0.33));

}


