
body {
    padding: 20px 50px 30px;
    font-family: Calibri;
    background-color:rgba(223, 228, 255, 0.15);
}


.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-outside: 20px;
    color: rgba(4, 3, 57, 0.87);
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width:70px;

}
h2 {
    font-variant-caps: all-petite-caps; color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 18px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: left;}

h2::first-letter{
    font-family: 'Helvetica Neue', sans-serif; font-size: 20px;
}

h3 {
    font-size: 15px; font-variant-caps: titling-caps;
}

.list-group-item a {
    color:rgba(93, 17, 77, 0.85);
}

.input-group-addon {
    color:#000000;
    background:linear-gradient(to left,rgba(214, 12, 210, 0.33) ,rgba(33, 121, 214, 0.33));
}
.btn {
    background:linear-gradient(to left,rgba(214, 12, 210, 0.33) ,rgba(33, 121, 214, 0.33));
    color: black;
}

.badge {
    background:linear-gradient(to left,rgba(214, 12, 210, 0.33) ,rgba(33, 121, 214, 0.33));
    color: black;

}

.input-group
{
    padding: 2px;
}

