
body {
    /*padding: 20px 50px 30px;*/
    /*margin: 5px auto;*/
    font-family: Calibri, sans-serif;
    background-color: rgba(223, 228, 255, 0.15);
    padding-bottom: 70px;

}


h1 {
    font-variant-caps: all-petite-caps;
    color: rgba(93, 17, 77, 0.69);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1; text-align: left;
}

h1::first-letter{
    font-family: 'Helvetica Neue', sans-serif; font-size: 27px;}

h2 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-variant-caps: all-petite-caps;
    color: black;
}

/*h2::first-letter{*/
    /*font-family: 'Helvetica Neue', sans-serif; font-size: 30px;*/
/*}*/

h3 {
    font-size: 15px; font-variant-caps: titling-caps;
}

h5 {
    font-size: 20px;
}

.list-group-item {
    margin-top: 15px;
}

.list-group-item a {
    color:rgba(93, 17, 77, 0.85);
    font-size: 20px;

}

.input-group {
    padding: 2px;
}

.input-group-addon {
    color:#fff;
    background-color: indigo;
}
.btn.btn-primary {
    background:linear-gradient(to left,rgba(214, 12, 210, 0.33) ,rgba(33, 121, 214, 0.33));
    color: black;
}

.btn.btn-info {
    background: indigo;
    color: black;
}
.btn:active {
    background: indigo;
}

.badge {
    background:linear-gradient(to left,rgba(214, 12, 210, 0.33) ,rgba(33, 121, 214, 0.33));
    color: black;
    font-size: 18px;

}


/*Navigacija*/
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

footer {
    font-size: 22px;
    color: white;
    background-color: indigo;
    position: fixed;
    /*display:block;*/
    bottom: 0;
    width: 100%;
    text-align: center;
    /*margin-top: 15px;*/
    padding-top: 15px;

}

footer .ikona {
    display: inline-block;
    text-align: center;
    width: 30%;
}

footer .ikona i, footer .ikona img {
    display: block;
    margin: 0 auto;
}

footer a:link, footer a:visited, footer a:hover footer a:active {
    color: white;
    text-decoration: none;
}
/*
.loader{color:#fff;position:fixed;box-sizing:border-box;left:-9999px;top:-9999px;width:0;height:0;overflow:hidden;z-index:999999}.loader:after,.loader:before{box-sizing:border-box}.loader.is-active{background-color:rgba(0,0,0,0.85);width:100%;height:100%;left:0;top:0}@keyframes rotation{from{transform:rotate(0)}to{transform:rotate(359deg)}}@keyframes blink{from{opacity:.5}to{opacity:1}}.loader[data-text]:before{position:fixed;left:0;top:50%;color:currentColor;font-family:Helvetica,Arial,sans-serif;text-align:center;width:100%;font-size:14px}.loader[data-text='']:before{content:'Loading'}.loader[data-text]:not([data-text='']):before{content:attr(data-text)}.loader[data-text][data-blink]:before{animation:blink 1s linear infinite alternate}.loader-default[data-text]:before{top:calc(50% - 63px)}.loader-default:after{content:'';position:fixed;width:48px;height:48px;border:solid 8px #fff;border-left-color:transparent;border-radius:50%;top:calc(50% - 24px);left:calc(50% - 24px);animation:rotation 1s linear infinite}.loader-default[data-half]:after{border-right-color:transparent}.loader-default[data-inverse]:after{animation-direction:reverse}
*/
.container{
    min-height: 350px;
    padding-bottom: 25px;

}

.veliki {
    background-image: url("../images/bg-pattern.png");
    background-repeat: repeat;
    background-color: indigo;
    padding: 20px;
    text-align: center;

}
.veliki h1, .veliki h4, .veliki p {
    margin: 0 auto;
    padding: 5px;
}
.veliki.tamni {
    color: floralwhite;
    height: 50%;
    margin-bottom: 0%;
}
.veliki.tamni h1, .veliki.tamni h2 {
    color: floralwhite;
}

.veliki.svjetli {
    color: #111111;
    height: 60%;
}

/*checkbox */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    text-indent: 0;
}




