<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Time - moj broj</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--custom css-->
    <link rel="stylesheet" type="text/css" href="css/JT.css">

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!--font awesome-->

    <script src="https://use.fontawesome.com/75c0c19277.js"></script>

</head>
<body>
<div>

    <div id="navigacija"></div>
<div class="container" id="mojiRedovi">
    <h2>Moj red</h2>


    <template v-for="ustanova in sve">
    <div class="row" v-for="red in ustanova.queues">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 style="position: absolute; top: 2px; padding-bottom: 15px; font-size: 20px;"><b>{{ustanova.name}}</b> - {{red.name}}</h3>
                    <button type="button" class="btn btn-primary" style="position: absolute; top: 10px; right: 30px;" @click="ukloni(ustanova.id, red.id)"><i class="fa fa-times" aria-hidden="true" style="font-size: 1.6em"></i>
                    </button>
                    <div style="display: inline-block; margin-right: 20px; margin-left: 15px;">
                        <p style="font-size: 6em; text-align: left; color: indigo; margin-top: 45px">
                            <b >{{red.priority}}</b>
                        </p>
                    </div>

                   <div style="display: inline-block;">
                    <p style="text-align: right;font-size: 20px;"><b><i class="fa fa-hourglass-start" aria-hidden="true" style="font-size: 22px"></i></b> 15 minuta <br>
                       Trenutni broj: <span :id="'trenutni_' +red.id ">{{trenutniBroj(red.id)}}</span></div>

                </div>
            </div>
        </div>
    </div>
    </template>




    </div>
</div>
</div>

<div id="footer"></div>

<script>

    // pronalazi GET parametre iz url-a
    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null){
            return null;
        }
        else{
            return results[1] || 0;
        }
    };


    var mojiRedovi = new Vue({
        el: '#mojiRedovi',
        data: {
            sve :""

        },
        methods: {
            ukloni : function (idUstanove, idReda) {
                var app = this;
                var mail = localStorage.getItem("mail");
                var url = 'https://justin-time.herokuapp.com/queue/removeUser/';
                url+= idUstanove;
                url+="/" + idReda;// + "/" +mail;
                url += "?access_token=" + localStorage.getItem("token");
                $.ajax({
                    method: "DELETE",
                    contentType: 'application/json',
                    dataType: "json",
                    cache: true,
                    url: url,
                    data: {
                        //"access_token" : localStorage.getItem("token")
                    }
                }).done(function( data ) {
                    console.log(data);
                    alert("Napustili ste red.");
                    location.reload(true);
                }).fail(function(jqxhr, textStatus, error) {
                    console.log( textStatus + " " + error);
                });
            },
            trenutniBroj : function (idReda) {
                var url = 'https://justin-time.herokuapp.com/queue/currentUser/' + idReda;
                var selektor = "#trenutni_" + idReda;
                $.ajax({
                    method: "GET",
                    contentType: 'application/json',
                    dataType: "json",
                    cache: true,
                    url: url,
                    data: {
                        //"access_token" : localStorage.getItem("token")
                    }
                }).done(function( data ) {
                    console.log("Broj vraca:");
                    console.log(data);
                    console.log("Trenutni broj je " + data.currentNumber);
                    $(selektor).text(data.number);
                    return data.priority;
                }).fail(function(jqxhr, textStatus, error) {
                    console.log( textStatus + " " + error);
                    $(selektor).text("0");
                    return "0";
                });
                //return Math.floor(Math.random()*10);

            }
        },
        created: function () {
            var app = this;
            $.ajax({
                method: "GET",
                contentType: 'application/json',
                dataType: "json",
                cache: true,
                url: "https://justin-time.herokuapp.com/queue/getQueuedUser",
                data: {
                    "access_token" : localStorage.getItem("token")
                }
            }).done(function( data ) {
                console.log(data);
                //var arr = Object.keys(data.queuedFacilities).map(function (key) { return data.queuedFacilities[key]; });
                var arr = Object.keys(data.queuedFacilities).map(function (key) { return data.queuedFacilities[key]; });
                for(var i=0;i<arr.length;i++) {
                    arr[i].queues = Object.keys(arr[i].queues).map(function (key) {
                        return arr[i].queues[key];
                    });

                }
                app.sve = arr;

            });



        }
    });

    setInterval(function(){

        location.reload(true);

    }, 10000);



    $('#footer').load('Footer.html');
    $('#navigacija').load('navigacija.html');


</script>
</body>
</html>